//link(rel='stylesheet', type='text/css', href='//cdnjs.cloudflare.com/ajax/libs/bulma/0.7.2/css/bulma.css')
//script(type='text/javascript', src='//use.fontawesome.com/releases/v5.3.1/js/all.js')
.widget
  .aboutmediv
    .aboutmedivleft
      img.aboutme(src=theme.about.avatar)
    .aboutmedivright
      |  #{theme.about.name}
      br
      br
      |  #{theme.about.discription}
  //button.pure-button A Pure Button