.widget
    if page.toc
        .widget-title
            i(class='fa fa-bars')= '  ' + __('contents')
        div(id='stoc' class='stoc-article')
            != toc(page.content, {list_number: theme.toc_number})
